# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# IDE specific
*.sdf
*.sln
*.suo
*.exe
*.ilk
*.pdb
*.vcxproj
*.vcxproj.filters
*.tlog
*.log
*.obj
*.lastbuildstate
*.nativecodeanalysis.xml
*.idb
*.xml
